<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.colortilesdeluxe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/colortiles"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main_Menu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main__menu"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Home_Screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_home__screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Game_Proper"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game__proper"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Instructions"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_instructions"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Highscore"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_highscore"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>